.secret {
	padding: 30px 14px;
	//secret__wrapper
	&__wrapper{
		@include flex($flex-direction: column);
		
	}
	// .secret__img
	&__img {
		@include wh(56px, 37px);
		margin-bottom: 15px;
	}
	// .secret__description
	&__description {
		margin-bottom: 10px;
	}
	// .secret__text
	&__text {
		@include flex($flex-direction: column);
	}
	// .secret__link
	&__link {
		font-weight: 700;
	}
}