// <SELECT>
// Снипет (HTML): sel
.select {
  position: relative;

  &::before {
    display: block;
    content: "";
    background: url("@img/icons/arrow.svg") center no-repeat;
    width: 14px;
    height: 7px;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    z-index: 1;
  }

  // .select__body
  &__body {
    position: relative;
  }

  // .select__title
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #e32d06;

    
   
    cursor: pointer;
    width: 100%;
    
  }

  // .select__value
  &__value {
    display: flex;
    align-items: center;
   
    justify-content: space-between;
    flex-direction: row-reverse;

    
  }

  // .select__text
  &__text {
    flex: 1 1 auto;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }

  // .select__options
  &__options {
    color: #000;
    position: absolute;
    top: 29px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    padding: 10px 0px 5px 0px;
    max-height: 250px;
    overflow-y: auto;

    @media (max-width: rem(768)) {
      position: fixed;
      top: 10px;
      max-height: 100vh;
      height: 100vh;
      min-width: 95%;
      left: 10px;
      padding-top: 0;
    }
  }

  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальная высота
    max-height: 200px;

    // Стили скроллбара
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }

  // .select__option
  &__option {
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 5px 15px;
    color: inherit;

    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #e32d06;

    position: relative;

    @media (max-width: rem(768)) {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;

      color: #292929;
      padding: 15px 20px;
      border-bottom: 0.33px solid #c2c2c2;

      &::before {
        display: block;
        content: "";
        width: 18px;
        height: 18px;
        background-color: #ffffff;
        border: 1px solid #000000;
        position: absolute;
        top: 50%;
        right: 35px;
        transform: translateY(-50%);
        z-index: 1;
      }
    }

    &:active,
    &:focus,
    &:hover {
      &::before {
        background: url("@img/icons/arrow-select-active.svg") center no-repeat;
      }
    }

    &._select-selected {
      background-color: #eee;
    }

    @media (any-hover: hover) {
      &:hover {
        background: #222222;
        color: #09dc77;

        &::before {
          background: url("@img/icons/arrow-select-active.svg") center no-repeat;
        }
      }
    }
  }

  // Конструкция дополнительных данных
  &__row {
    display: inline-flex;
    align-items: center;
  }

  &__asset {
  }

  &__text {
  }

  // Состояния селекта
  &._select-open {
    z-index: 5;

    &::before {
      display: none;
    }
  }

  &._select-disabled {
  }

  &._select-active {
  }

  &._select-focus {
  }

  &._select-multiple {
  }

  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
